<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarking API</title>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/bookmark-list.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <a href="/" style="text-decoration: none; color: inherit;"><h1>My Bookmarks</h1></a>
    <div id="bookmarks-list">
        <form action="/bookmarks" method="POST">
            <input type="text" class="bookmark-input" name="bookmarkUrl" placeholder="Insert URL" required />
            <input type="text" class="bookmark-input" name="bookmarkTitle" placeholder="Title of article" required />
            <input type="text" class="bookmark-input" name="bookmarkPublisher" placeholder="Publisher of article" required />
            <input type="text" class="bookmark-input" name="bookmarkTags" placeholder="Tags of article seperated by spaces" required />
            <button type="submit" id="bookmark-button" for="bookmarks">Add Bookmark!</button>
        </form>
        <ul>
            <% for(var i=0;i<bookmarks.length;i++){ %>
                <li id="bookmark-items" class="bookmark-items">
                    <%= bookmarks[i].bookmarkUrl %>
                    <br>
                    <%= bookmarks[i].bookmarkTitle%>
                    <br>
                    <%= bookmarks[i].bookmarkPublisher %>
                    <ul id="sublist">
                        <% for(var j=0;j<bookmarks[i].bookmarkTopicTags.length;j++){ %>
                            <li class="sublist-items"><%= bookmarks[i].bookmarkTopicTags[j] %> </li>
                        <% } %>
                    </ul>
                </li>
            <% } %> 
        </ul>
    </div>
</body>
</html>