body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#bookmarks-list{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#tags-list{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.center {
    margin-top: 50px;
    display: flex;
}

#bookmarks-list form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

#tags-list form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

.bookmark-input[type="text"]{
    width: 97.5%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

#bookmark-button{
    margin-left: 36%;
    margin-top: 15px;
}

button{
    padding: 20px;
    width: 27%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.homepage-buttons {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    border-radius: 12px;
    border: 2px solid #f44336;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sublist{

    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgba(26, 24, 24, 0.25);

}

li{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 1em 0 0 0;
    background-color: rgba(134, 129, 129, 0.5);
}

.sublist-items{
    margin: 1px;
}

.tag-items{
    margin: 0 0 0 0;
}

.bookmark-items:hover{
    text-decoration: line-through;
    background: rgba(168, 11, 11, 0.5);
}

.tag-items:hover{
    text-decoration: line-through;
    background: rgba(168, 11, 11, 0.5);
}

h1{
    font-family: arial;
    font-size: 100px;
    cursor: pointer;
    margin-bottom: 10;
    text-align: center;
}
